html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
}

.section{
  padding: 3rem 0;
}

@media screen and (max-width: 575px){
  h1,h2,h3,h4,h5,h6{
    font-size: 85%;
  }

  .section{
    padding: 2rem 0;
  }
}
