.navbar{
    background-color: #0A0B0C;
    padding: 4rem 0;
}

.logo{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    color: #fff !important;
    margin-right: 0;
}

.header-text{
    color: #9A9B9B;
    font-style: italic;
}

@media screen and (max-width: 575px){
    .navbar{
        padding: 35px 0;
    }
    
    .logo{
        font-size: 2rem;
    }
}