.navbar{
    background-color: #121212;
    padding: 50px 0;
}

.logo{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    color: #fff !important;
}

.header-text{
    color: #fff;
    font-style: italic;
}

@media screen and (max-width: 575px){
    .navbar{
        padding: 35px 0;
    }
    
    .logo{
        font-size: 2rem;
    }
}